<h2>Wallet</h2>


<form class="wallet_form" action="/wallets/<%= settings.wallet_id %>" method="post">
    <label for="wallet">Update wallet balance: £</label>
    <input type="number" name="budget" id="budget" value="<%= @wallet.budget %>">
  <input type="submit">
</form>

