<h2>Wallet</h2>

<% initial_budget = @wallet.budget %>
<% total = Transaction.total_of_all_transactions %>
  <h3>Current Remaining Balance: £<%= (initial_budget -= total).round(2) %>
  </h3>

<div class="wallet-structure">
  <% if (total >= @wallet.budget) %>
    <img class="wallets" src="/images/wallet3.jpg" alt="empty wallet">
  <% elsif (total / initial_budget)*100 >= (initial_budget * 0.75) %>
    <img class="wallets" src="/images/wallet2.jpg">
  <% else %>
    <img class="wallets" src="/images/wallet1.jpg">
  <% end %>
</div>


<h3>Your initial wallet balance was £<%= @wallet.budget %></h3>

<div class="wallet_form" >
  <form action="/wallets/<%= settings.wallet_id %>" method="post">
    <label for="wallet">Update wallet balance: £</label>
      <input type="number" name="budget" id="budget">
      <input class="button" type="submit">
</div>
</form>

