<h2>Budget</h2>

Your budget is £ <% new_wallet.budget %>



<form class="wallet" action="/" method="post">
  <div>
    <label for="wallet">How much is in your wallet: £</label>
    <input type="text" name="wallet" id="wallet">
  <input type="submit">
</form>

