<h2>A snappier way to budget your finances</h2>

<% initial_budget = @wallet.budget %>
<% total = Transaction.total_of_all_transactions %>
  <h3>Current Remaining Balance: £<%= (initial_budget -= total).round(2) %>
  </h3>

<div class="wallet-structure">
  <% if (total >= @wallet.budget) %>
    <img class="wallets" src="/images/croc3.png" alt="angry crocodile">
  <% elsif (total / initial_budget)*100 >= (initial_budget * 0.75) %>
    <img class="wallets" src="/images/croc2.png" alt="medium crocodile">
  <% else %>
    <img class="wallets" src="/images/croc1.png" alt="happy croc">
  <% end %>
</div>

<% if @wallet.budget.to_s.length >= 4 %>
  <h3>Your initial balance was £<%= @wallet.budget %>0</h3>
<%else%>
  <h3>Your initial balance was £<%= @wallet.budget %></h3>
<% end%>

<div class="wallet_form" >
  <form action="/wallets/<%= settings.wallet_id %>" method="post">
    <label for="wallet">Update balance: £</label>
      <input type="number" name="budget" id="budget">
      <input class="button" type="submit">
</div>
</form>

