<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
<!--   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
 -->  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/lists.css">
  <link rel="icon" href="/images/croc.jpg">

  <title>Snappier Finance</title>

</head>
<body>
  <h1>Snappier Finance</h1>
  <nav>
    <ul class="nav_bar">
      <li>
        <a href="/">Home</a>
      </li>
      <li>|</li>
      <li>
        <a href="/transactions">View All Transactions</a>
      </li>
      <li>|</li>
      <li>
        <a href="/tags">View By Tags</a>
      </li>
      <li>|</li>
      <li>
        <a href="/transactions/new">Add New Transaction</a>
      </li>
    </ul>
  </nav>
    <%= yield %>
 
</body>
</html>