<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables_forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/lists.css">
  <link rel="stylesheet" type="text/css" href="/styles/images.css">
  <link rel="icon" href="/images/croc.jpg">

  <title>Snappier Finance</title>

</head>
<body>
  <img class="croc" src="/images/croc.jpg">
  <h1>Snappier Finance</h1>
      <nav>
        <ul class="nav_bar">
          <li>
            <a href="/">Wallet</a>
          </li>
          <li class="divider"> | </li>
          <li>
            <a href="/transactions/new">Add New Transaction</a>
          </li>
          <li class="divider"> | </li>
          <li>
            <a href="/transactions">View All Transactions</a>
          </li>
          <li class="divider"> | </li>
          <li>
            <a href="/tags">View By Tags</a>
          </li>
        </ul>
      </nav>
    <%= yield %>
 
</body>
</html>