<!DOCTYPE html>
<html>
<head>
  <title>CashFlow</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <h1>Snappier Finance</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/transactions">View All Transactions</a>
      </li>
      <li>
        <a href="/tags">View All Tags</a>
      </li>
      <li>
        <a href="/transactions/new">Create New Transaction</a>
      </li>
    </ul>
  
    <%= yield %>
 
</body>
</html>