<!DOCTYPE html>
<html>
<head>
  <title>CashFlow</title>
 
</head>
<body>
  <h1>Snappier Finance</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/transactions">View All Transactions</a>
      </li>
      <li>
        <a href="/tags">View All Tags</a>
      </li>
      <li>
        <a href="/transactions/new">Create New Transaction</a>
      </li>
    </ul>
  
    <%= yield %>
 
</body>
</html>