<h1>Tags</h1>

<ul>
  <a href="/tags/food" title="Food">
    <img src="/food_icon.jpg" alt="Food" style="width:150px;height:150px";/>
  </a>

  <a href="/tags/rent">
  <img src="/rent_icon.jpg" alt="Rent" style="width:150px;height:150px";/>
  </a>

  <a href="/tags/entertainment">
  <img src="/entertainment_icon.jpg" alt="Entertainment" style="width:150px;height:150px";/>
  </a>
  
  <a href="/tags/clothes">
  <img src="/clothes_icon.jpg" alt="Clothes" style="width:150px;height:150px";/>
  </a>

  <a href="/tags/bills">
  <img src="/bills_icon.jpg" alt="Bills" style="width:150px;height:150px";/>
  </a>

  <a href="/tags/miscellaneous">
  <img src="/misc_icon.jpg" alt="Miscellaneous" style="width:150px;height:150px";/>
  </a>

</ul>