<h1>Tags</h1>


<table>
  <tr>
    <th>Available Tags</th>
  </tr>
  <tr>
    <% for tag in @tags %>
      <td><%= tag.type %></td>
      <td></td>
  </tr>
    <% end %>
</table>

<img src="/food_icon.jpg" alt="Bills" style="width:150px;height:150px";/>
<img src="/rent_icon.jpg" alt="Rent" style="width:150px;height:150px";/>
<img src="/entertainment_icon.jpg" alt="Entertainment" style="width:150px;height:150px";/>
<img src="/clothes_icon.jpg" alt="Clothes" style="width:150px;height:150px";/>
<img src="/bills_icon.jpg" alt="Bills" style="width:150px;height:150px";/>
<img src="/misc_icon.jpg" alt="Miscellaneous" style="width:150px;height:150px";/>