<h1>Miscellaneous</h1>

<table>
    <tr>
      <th>Merchant</th>
      <th>Value</th>
      <th>Transaction Date</th>
      <th>Type</th>
    </tr>
    <% for transaction in @misc %>
    <tr>
      <td><%= transaction.merchant %></td>
      <td><%= transaction.value %></td>
      <td><%= transaction.date_of_trans %></td>
      <td><%= transaction.tag_id %></td>  
  </tr>
    <% end %>
</table>

<img src="/misc_icon.jpg" alt="Miscellaneous" style="width:150px;height:150px";/>