.nav_bar {
  margin: 0;
  padding: 20px;
  background-color: powderblue;
  text-align: center;
  border-radius: 25px;
}

.nav_bar a {
  text-decoration: none;
}

.nav_bar a:hover:not(.active) {
  background-color: orange
}

.active {
  background-color: black
}


li {
  list-style-type: none;
  color: blue;
  display: inline;
}                                

.tag_list {
  display: flex;
  text-align: center
}

.tag_list img {
  width: 100px;
  height: 100px;
  margin: 0;
  border: 4px solid #00004d;
  border-radius: 10px;
}