* {
  font-family: 'Raleway', sans-serif;
  color: #00004d;
  background-color: #e6f7ff;
}

h2, h3 {
  text-align: center;
}

body {
  margin: 5px;
  padding: 10px;
  vertical-align: top
}

.croc {
  width: 85px;
  height: 60px;
  border: 3px solid #00004d;
  border-radius: 10px;
  right: 5px;
  top: 5px;
  float: right;
  position: sticky;
}

.total {
  text-align: right
}

.button {
  background-color: orange;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #00004d;
}

