table {
  width: 90%;
  border: 0.5px solid black;
  margin-left: 5%
}

td {
  text-align: center; 
}

.input_form {
  padding-bottom: 80%;
}

.type-bill {
  color: red;
}

.type-ent {
  color: orange;
}

.type-food {
  color: green;
}

.type-rent {
  color: purple;
}

.type-clothes {
  color: blue;
}