table {
  width: 90%;
  border: 0.5px solid black;
  border-radius: 20px;
  margin-left: 5%;
  padding: 5px;
}

th {
  font-weight: bold;
  font-size: 20px;
}

td {
  text-align: center; 
}

.input_form {
  padding-bottom: 80%;
}

.type-bill {
  color: red;
}

.type-ent {
  color: orange;
}

.type-food {
  color: green;
}

.type-rent {
  color: purple;
}

.type-clothes {
  color: blue;
}

.wallet-form {
  margin-left: auto;
  margin-right: auto;
  justify-content: center
}