table {
  width: 90%;
  border: 2px solid #00004d;
  border-radius: 20px;
  margin-left: 5%;
  padding: 5px;
}

th {
  font-weight: bold;
  font-size: 20px;
}

td {
  text-align: center; 
}

.input_form {
  width: 90%;
  padding: 10px;
  margin left: 5%;
  border: 2px solid #00004d;
  border-radius: 20px;
}

.input_form div {
  margin: 10px;
}

.type-bill {
  color: red;
}

.type-ent {
  color: orange;
}

.type-food {
  color: green;
}

.type-rent {
  color: purple;
}

.type-clothes {
  color: blue;
}

.wallet-form {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}