<h1>Transactions</h1>

<table>
  <tr>
    <th>Merchant</th>
    <th>Value</th>
    <th>Transaction Date</th>
    <th>Type</th>
  </tr>
    <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant %></td>
    <td><%= transaction.value %></td>
    <td><%= transaction.date_of_trans %></td>
    <td><%= transaction.tag_id %></td>  
  </tr>
    <% end %>
</table>