<h2>Enter New Transaction Details</h2>


<form class="input_form" action="/transactions" method="POST">
  <div>
    <label for="merchant">Merchant:</label>
    <input type="text" name="merchant" id="merchant">
  </div>

  <div>
    <label for="value">Value: £</label>
    <input type="text" name="value" id="value">
  </div>

  <div>
    <label for="date_of_transaction">Date of Transaction:</label>
    <input type="date" name="date_of_trans" id="date_of_transaction">
  </div>
    
  <div>
    <label for="tag">Tag:</label>
    <select name='tag_id' id='tag'>
      <% @tags.each do |tag| %>
      <option value=<%= tag.id %>><%= tag.type.capitalize %></option>
      <% end %>
    </select>
    </label>
  </div>


  
    <br><br>
    <input type="submit">
</form>